* {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

:root {
    --main-black-color:  #101010;
    --second-black-color:  #171717;
    --main-blue-color:  #006CDC;
    --main-text-color:  #D9D9D9;
    --grey-text-color:  #C0C0C0;

}

.containerMain {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    
    background-color: var(--main-black-color);
}

header {
    height: 125px;
    background-color: var(--second-black-color);
    border-radius: 0px 0px 15px 15px;
}

.logoBlock {
    position: relative;
    top: 60px;
    left: 20px;

    height: 40px;
}

.dash {
    width: 2px;
    height: 30px;
    margin: 0 7px;
    background-color: var(--grey-text-color);
}

.logoBlock p {
    font-size: 16px;
    margin-top: 18px;
    color: var(--main-text-color);
    font-weight: lighter;
}

.descBlock {
    margin-top: 50px;
    height: 24px;

    display: flex;
    justify-content: space-between;
}
.headDescr {
    margin-left: 20px;
    font-size: 24px;
    color: var(--main-text-color);
}

.textDescr {
    width: calc(100% - 40px);
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    color: var(--grey-text-color);
    text-align: justify
}

.courseBlock {
    margin-top: 50px;
}

.buttonContainer {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--second-black-color);
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.buttonCourse {
    font-size: 16px;
    padding: 5px 10px;
    color: var(--main-text-color);
    background-color: var(--main-blue-color);
    border-radius: 10px;
    text-decoration: none;

    margin: 5px;


}

.buttonCourse:hover {
    color: white;
}

footer {
    margin-top: 50px;
    height: 75px;
    background-color: var(--second-black-color);
    border-radius: 15px 15px 0px 0px;
}

footer p {
    font-size: 16px;
    color: var(--grey-text-color);
}