<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mainPage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Main</title>
</head>
<body class="d-flex justify-content-center bg-dark">
    <div class="containerMain">
        <header>
            <div class="logoBlock d-flex align-items-center">
                <img src="/static/img/logoImg.png" alt="logo" style="width: 40px; height: 40px;">
                <div class="dash"></div>
                <p>МГТУ им. Н. Э. Баумана</p>
            </div>
        </header>
        
        <div class="descBlock">
            <p class="headDescr">Расписание</p>
            <img src="/static/img/element.png" alt="element" style="width: 20px; height: 20px;">
        </div>
        <p class="textDescr">Вам доступно не только расписание своей учебной группы, но и актуальное домашнее задание по каждому из предметов</p>
        <p class="textDescr">Для того чтобы записать или изменить задание в расписании войдите под правами администратора учебной группы</p>
    
        <div class="courseBlock">
            <p class="headDescr">1 курс</p>
            
            <div class="buttonContainer">
                <a href="studentPage.html" class="buttonCourse">ИУ4-11Б</a>
            </div>
        </div>

        <div class="courseBlock">
            <p class="headDescr">1 курс</p>
            
            <div class="buttonContainer">
                <a href="#" class="buttonCourse">ИУ4-11Б</a>
                <a href="#" class="buttonCourse">ИБМ7-11Б</a>
                <a href="#" class="buttonCourse">ИУ4-11Б</a>
                <a href="#" class="buttonCourse">ИБМ7-11Б</a>
                <a href="#" class="buttonCourse">ИУ4-11Б</a>
                <a href="#" class="buttonCourse">ИБМ7-11Б</a>
                
            </div>
        </div>

        <div class="courseBlock">
            <p class="headDescr">1 курс</p>
            
            <div class="buttonContainer">
                <a href="#" class="buttonCourse">ИУ4-11Б</a>
                <a href="#" class="buttonCourse">ИБМ7-11Б</a>
                <a href="#" class="buttonCourse">ИУ4-11Б</a>
                <a href="#" class="buttonCourse">ИБМ7-11Б</a>
                <a href="#" class="buttonCourse">ИУ4-11Б</a>
                <a href="#" class="buttonCourse">ИБМ7-11Б</a>
                
            </div>
        </div>

        <div class="courseBlock">
            <p class="headDescr">1 курс</p>
            
            <div class="buttonContainer">
                <a href="#" class="buttonCourse">ИУ4-11Б</a>
                <a href="#" class="buttonCourse">ИБМ7-11Б</a>
                <a href="#" class="buttonCourse">ИУ4-11Б</a>
                <a href="#" class="buttonCourse">ИБМ7-11Б</a>
                <a href="#" class="buttonCourse">ИУ4-11Б</a>
                <a href="#" class="buttonCourse">ИБМ7-11Б</a>
                
            </div>
        </div>

        <footer class="d-flex justify-content-center align-items-center">
            <p>Разработано на ИУ4</div>
        </footer>
    </div>
</body>
</html>